

<div class="col-4">
    <div class="img-wrapper">
    {% if  site.profile_image   %}
        <img 
         src="{{ site.profile_image | relative_url }}" 
         alt="{{ profile_alt }}"
         class="img-profile my-3"
         >
    {% endif %}
    </div>
    <div class="profile-img-caption">
        <h1 class="h3 text-center"> 
            <span class="text-white firstname">
                {{ site.firstName }} 
            </span> 
            <span class="text-brand lastname">
                 {{ site.lastName }} 
                </span>
         </h1>
        <p class=" text-center"> 
            Student in Artifical Intelligence
            <br>
            <a > AI enthusiast</a>
        </p>
        <p class="text-center">
            {% if site.location %}
                <a class="mx-2" href="{{ site.location[0] }}">
                    <i class="{{ site.location[2] }}"></i> 
                    {{ site.location[0] }}
                </a> 
            {% endif %}
         </p>         
        {% if site.data.social %}
        <div class="d-flex justify-content-center">
            {% for social in site.data.social %}
            {% if social.title == 'Email' %}
                <a class="mx-2" href="mailto:{{ social.url }}">
                    <i class="{{ social.icon | default: 'fas-fa-link' }}" title="{{ social.title}}"></i>
                </a>
            {% endif %}
            {% if social.title != 'Email' %}
            <a class="mx-2" href="{{ social.url }}" >
                <i class="{{ social.icon | default: 'fas-fa-link' }}" title="{{ social.title}}"></i>
            </a>
            {% endif %}
            {% endfor %}
             </div>
         {% endif %}
        
    </div>
</div>  
<div class="about-me-container">
          <h1 class="text-white about"> About Me </h1>
          <p class="text-justified">
          <span class="text-brand"> Welcome!</span> 
            {% include bio.html %}
          </p>
          <p class="text-danger text-center warning-text">
            I am currently updating this website. Please, feel free to reach out to 
             <a class="mx-2" href="mailto:jeremie@aims.ac.za" >
                firstname(in french ) at aims.ac.za
            </a> or   
            <a class="mx-2" href="mailto:jeremy@aimsammi.org" >
            firstname (in english ) at aimsammi.org
            </a>
             for any inquiries.
          </p>
</div>

      
         
   