<span> I am Jérémie N. Mabiala. If you're from an English-speaking culture, you can call me Jeremy. 
     I am currently a student in Artificial Intelligence at the African Masters in Machine Intelligence (<a class="text-brand" href="https://aimsammi.org/">AMMI</a>),
     a pan-African master's program in Artificial Intelligence founded by Google and Meta,
     hosted at AIMS Senegal. I am an AI enthusiast and a math lover. 
     Before that, I graduated from <a class="text-brand" href="https://www.sun.ac.za">Stellenbosch University</a> and <a class="text-brand" href="aims.ac.za">AIMS South Africa</a> 
     in February 2024 with a Master's degree in Mathematical Sciences. I worked on Mathematical Statistics, specifically <a class="text-brand" href="https://en.wikipedia.org/wiki/Functional_data_analysis">Functional Data Analysis</a>.
     My master's thesis is titled <b>Gaussian Processes for Multivariate Functional Data</b>, 
     and it is available at the <a class="text-brand" href="https://archive.aims.ac.za/">AIMS Archive</a>.
     <br> I also hold a Bachelor's degree (equivalent to Bac +5) in Mathematics from the <a class="text-brand" href="https://unikin.ac.cd">University of Kinshasa</a>, the Congo's leading university. There I graduated in the top 5%  in my department with "Grande Distinction" (the Congolese equivalent of Summa Cum Laude).
     During my time there, I worked on Functional  Analysis, which was my early math interest, 
     and I served as a teaching assistant and subsidiary lecturer for two years. </span>
 
 <span> I am passionate about teaching, gaining knowledge, and sharing it with others. 
I believe this passion comes from my father and grandfather, who were both teachers.
 I am particularly interested in
     <b> Mathematics, Theoretical Aspects of Machine Learning and/or Deep Learning</b> and their applications. My interests also extend to
      <b>Mathematical Modeling</b>, <b>Functional Data Analysis</b>, Large Language Models, and Reinforcement Learning. </span>
 <p> I am a hobbyist developer and an apprentice writer. </p>
    <!-- Feel free to check out my <a href="{{site.posts.url }}">writings </a> or my <a href="https://github.com/jnlandu"> Github </a> </p> -->
 