<div class="bio" style="text-align: justify;"></div>
    <p>
        I am Jérémie N. Mabiala, currently a student in Artificial Intelligence at the African Masters in Machine Intelligence 
        (<a class="text-brand" href="https://aimsammi.org/">AMMI</a>), a pan-African flagship master's program 
        in Artificial Intelligence founded by Google and Meta, hosted at <a class="text-brand" href="//aims-senegal.org/fr/">AIMS Senegal</a>.
    </p>
    <p>
        Before that, I graduated from <a class="text-brand" href="https://www.sun.ac.za">Stellenbosch University</a> 
        and <a class="text-brand" href="https://aims.ac.za">AIMS South Africa</a> in February 2024 with a 
        Master's degree in Mathematical Sciences. I worked on Mathematical Statistics, specifically 
        <a class="text-brand" href="https://en.wikipedia.org/wiki/Functional_data_analysis">Functional Data Analysis</a>. 
        My master's thesis is titled <strong>Gaussian Processes for Multivariate Functional Data</strong>, 
        and it is available at the <a class="text-brand" href="https://archive.aims.ac.za/">AIMS Archive</a>.
    </p>
    <p>
        I also hold a Bachelor's degree (equivalent to Bac +5) in Mathematics from the 
        <a class="text-brand" href="https://unikin.ac.cd">University of Kinshasa</a>, the Congo's leading university. 
        There I graduated in the top 5% in my department with "Grande Distinction" (the Congolese equivalent of 
        Summa Cum Laude). During my time there, I worked on Functional Analysis, which was my early math interest, 
        and I served as a teaching assistant and subsidiary lecturer for two years.
    </p>
     <p> 
        I am passionate about teaching, gaining knowledge, and sharing it with others. I am particularly interested in 
        <strong>Mathematics, Theoretical Aspects of Machine Learning and/or Deep Learning</strong> and their 
        applications. My interests also extend to <strong>Mathematical Modeling</strong>, 
        <strong>Functional Data Analysis</strong>, Large Language Models, and Reinforcement Learning.
    </p>
    <p>
        I am a hobbyist developer and an apprentice writer.
    </p>
</div>