  <button class="theme-toggle-btn" aria-label="Toggle Theme"><i></i>
  </button>
    
    <div class="site-nav-wrapper">
        <a class="site-title me-4" rel="author" href="{{ '/' | relative_url }}">{{ site.firstName | escape }} {{ site.lastName}} </a>
        {% if site.data.navigation %}
        {%- assign navpages = site.data.navigation -%}
          <nav class="site-nav">
            <div class="trigger">
              {% for navpage in navpages %}
                {%- if navpage.url == page.url -%}
                  <a class="page-link active" href="{{ navpage.url | relative_url }}">{{ navpage.title | escape }}</a>
                {% else %}
                  <a class="page-link disabled" href="{{ navpage.url | relative_url }}">{{ navpage.title | escape }}</a>
                {% endif %}
              {%- endfor -%}
            </div>
          </nav>
        {% endif %} 
      
    </div>
  

