<div class="">
  <h2 class="h2"> <a href="https://docs.google.com/presentation/d/1hHQM7gkxNm0aI--WqcNzr7s9vYYz4qpoKzsmdmpXdnQ/edit?usp=sharing"
    target="_blank" class="text-brand">Transparent Decision-Making for Electric Vehicle Routing:  Integrating DRL, GNN, and XAI
  </a>
  </h2>
  <p class="text-justified">
   This is the current research project I am working on with colleagues from Tunisia, Senegal, and DR. Congo. 
    The goal of this project is to conduct a comparative study of various Deep Reinforcement Learning (DRL) models combinded with GNN and XAI.  
    We aim to  evaluate their performance in optimizing routes and how well each model explains its decisions. The idea is to provide a transparent decision-making process for electric vehicle routing.
  </p>
</div>
<a href="https://docs.google.com/presentation/d/1hHQM7gkxNm0aI--WqcNzr7s9vYYz4qpoKzsmdmpXdnQ/edit?usp=sharing"
  target="_blank">
  <img class="img" src="{{ '/assets/static/img/ideathon.png' | relative_url }}" alt="Electric Vehicle Routing">
</a>