:root {
  /* Light mode colors */
  --bg-black: #000000;
  --bg-color: #ffffff;
  --text-color: #000000;
  --link-color: #1a73e8;
  --brand-color: #2a7ae2; 
  --bs-emphasis-color-rgb: rgb(255, 255, 255);
  --test-white: white;
  --bg-light-black: #1a1a1a;

  /* --content-width: 100%;  */
  --spacing-unit: 20px;  
  --bs-border-width: 1px;
  --bs-navbar-padding-x: 0;
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
  --bs-navbar-toggler-border-radius: var(--bs-border-radius);
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;


 



  /*  meedia breakpoints */
  --content-width: 100%;  /* Example value */


  --on-mobile: 576px;
  --on-tablet: 768px;
  --on-desktop: 992px;
  --on-large-desktop: 1200px ;
}





/* Dark mode colors */
.text-white {
  color: var(--test-white) !important;
}
.dark-mode {
  background-color: var(--bg-light-black);
}

/* Style for the toggle button */
.theme-toggle-btn {
  position: fixed;
  top: 20px;
  right: calc(var(--spacing-unit) );
  padding: 10px 20px;
  background-color: var(--link-color);
  color: var(--bg-color);
  border: none !important;
  cursor: pointer !important;
  pointer-events: none;

  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  color: #ffff;
}

.theme-toggle-btn:hover {
  opacity: 0.8;
}


.dark-mode .theme-toggle-icon {
  background-color: var(--link-color);
  color: var(--bg-color);
}

.about-wrapper {
  margin-top: 100px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  width: calc(var(--content-width) - 70px);
  /* transition: opacity 0.3s ease;  */
  transition: margin-top 0.3s ease; /* Smooth margin transition */
}

@media screen and (min-width: 100px) and ( max-width: 768px) {
  body{
    display: flex;
    flex-direction: column;
    margin-right: 30px !important;
    margin-left: 30px !important
  }
  .site-nav{
    display: none;
  }
  .nav-toggle-btn{
    position: fixed;
    top: 20px;
    right: calc(var(--spacing-unit));
    padding: 10px 20px;

    
    background-color: var(--link-color);
    color: var(--bg-color);
    display: block !important;
    margin-right: 50px !important;
    border: calc(var(--bs-border-width)/2) solid var(--brand-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);

    cursor: pointer !important;
    
  }

  .about{
    text-align: center;
  }
  .about-wrapper {
    width: auto;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  

.img-profile {
  margin-left: calc(.5*var(--content-width) - 20lvw) !important;
  width: 50% !important;
  height: 50% !important;
  vertical-align:-webkit-baseline-middle;
  /* margin-top: 35px; */
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}
.col-4, .col-8{
  align-items: center !important;
  max-width: 100% !important;
}
.img-profile-caption{
  width: 20% !important;

}


}


/* @media screen and (min-width: 768px) {
  .about-wrapper {
    width: calc(var(--content-width) - 70px);
    display: flex !important;
    flex-direction: row !important;
  }
  
} */

.nav-toggle-btn {
  display: none;
}
.img-profile {
  max-width: 100%;
  /* width: 20lvw !important; */
  /* height: 20lvw !important; */
 vertical-align:-webkit-baseline-middle;
 margin-top: 35px;
 border-top-left-radius: 25px;
 border-bottom-left-radius: 25px;
 border-bottom-right-radius: 25px;
 border-top-right-radius: 25px;
}

/* Right side column */
.sidebar-right {
  width: auto; /* Adjust as needed */
  /* background-color: #f0f0f0;  Replace with actual background color  */
  overflow-x: auto; /* Allows horizontal scrolling */
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  /* float: right; */
  top: 0; /* Stick to the top of the viewport */
  height: 100vh; /* Full viewport height */
  /* padding: 20px; */
  /* box-shadow: 2px 0 5px rgba(0,0,0,0.1); */
}

/* Left side column */
.sidebar-left {
  width: 25% !important; /* Adjust as needed */
  /* background-color: #f0f0f0; Replace with actual background color  */
  overflow-x: auto; /* Allows horizontal scrolling */
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  /* float: left; */
  top: 0px; /* Stick to the top of the viewport */
  height: 100vh; /* Full viewport height */
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.text-justified {
  text-align: justify !important;
  text-justify: inter-word;
}

.active{
  color: var(--brand-color) !important;
  text-decoration: underline;
  /* text-decoration-color: var(--brand-color); */
}

.disabled{
  /* color: #ccc !important; */
  color: rgba(var(--bs-emphasis-color-rgb), 0.3);
  pointer-events: none;
}

.sticky {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow when sticky */
}

.sticky + .about-wrapper {
  margin-top: 20px; /* Create space for content below the nav */
}

.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}
@media (prefers-reduced-motion: reduce) {
  .navbar-toggler {
    transition: none;
  }
}
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width);
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}