<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
    {%- include head.html -%}

    <body class="ai-theme">
        <!-- Back to Top button -->
        {% include back-to-top-btn.html %}
        
        <!-- AI Chat Icon -->
        {% include chat-with-me-icon.html %}
        
        <!-- Site Header -->
        <header class="site-header">
            {%- include header.html -%}
        </header>

        <!-- Main Content -->
        <main class="site-main">
            {% if page.layout == 'home' %}
                {{ content }}
            {% elsif page.title =='Home' %}
            <div class="about-wrapper">
                {% include about-me.html %}
            </div>
            <div class="course-section">
                    <h2 class="course-section-title">Selected courses</h2>
                    <hr class="h-line">
                <div class="course-wrapper">
                    {% include courses.html %}
                </div>
            </div>
            <div class="course-section">
                <h2 class="course-section-title mb-3">Current projects</h2>
                <hr class="h-line dashed">
                <div class="d-flex mt-3  gap-3">
                    {% include projects.html %}
                </div>
            </div>
            {% else %}
            <div class="row {% if page.url == '/posts/' %}main-post-wrapper {% elsif page.toc %}main-wrapper  {%else %}main-wrapper-toc-off{% endif %}">
                <div class="sidebar-left">
                    {% include sidebar-left.html %}
                </div>

                <div class="{% if page.url == '/posts/' %}main-post-content {% elsif page.toc  %}main-content  {%else%} main-content-toc-off {% endif %}">
                    {{ content }}
                </div>
                {%- if page.layout == 'post' and page.toc  -%}
                <div class="{% if page.toc %}sidebar-right {%else %}sidebar-right-off {%endif%}">
                    {% include toc.html html=content %}
                </div>
                {%- endif -%}
            </div>
            {% endif %}
        </main>
        
        <!-- Footer -->
        <footer class="site-footer mt-4 justify-content-center">
            {% include footer.html %}
        </footer>
    
        <!-- Scripts -->
        <script src="{{ '/assets/js/main.js' | relative_url }}" defer></script>
        {% if page.layout == 'home' %}
        <script src="{{ '/assets/js/homepage.js' | relative_url }}" defer></script>
        {% endif %}
        <script src="{{ '/assets/js/animation.js' | relative_url }}" defer></script>
        
        <!-- Icons -->
        {% include icons.html %}
    </body>
</html>
